{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title> {% block title %}{% endblock title %} </title>

	<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>

<body>

	<div class="scroll-up-btn" onclick="scrollToTop()">
		<i class="fas fa-angle-up"></i>
	</div>

	<!-- <div id="preloader"></div> -->

	<header>
		<div class="container-custom">
			<div class="row">
				<div class="col-12">
					<div class="header-main">
						<div class="header-left">
							<button id="menu-btn"><i class="fa-solid fa-bars"></i></button>
							<div class="header-logo">
								<a href="{% url 'home' %}">
									<h2>Dev<span>Task</span></h2>
								</a>
							</div>
						</div>
						<div class="header-right d-flex align-items-center gap-1">

							{% if request.user.is_authenticated %}
								<div class="header-profile">
									<img src="{% static 'images/user-profile.png' %}" id="profile-open-btn" alt="">
									<div id="profile-div">
										<ul>
											<li><a href="./my-account.html"><i class="fa-regular fa-user"></i> My Account</a></li>
											<li><a href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
										</ul>
									</div>
								</div>

							{% else %}
								<div>
									<a href="{% url 'signup' %}" class="primary-button text-white"> Login</a>
								</div>
							{% endif %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section>
		<div class="main-body-layout">
			<aside id="aside" class="width-20">
				<div class="aside-menu-item">
					<ul>
						<li>
							<a href="{% url 'home' %}" {% if request.path == '/' %} class="active" {% endif %}>
								<i class="fa-solid fa-house"></i> 
								Feed
							</a>
						</li>
						<li>
							<a href="{% url 'project' %}" {% if request.path == '/project/' %} class="active" {% endif %}>
								<i class="fa-solid fa-map"></i> 
								Project
							</a>
						</li>
						{% if user.role == 'owner' %}
							<li>
								<a href="{% url 'employee' %}" {% if request.path == '/employee/' %} class="active" {% endif %}>
									<i class="fa-solid fa-folder-plus"></i> 
									Add Employee
								</a>
							</li>
						{% endif %}
						<li>
							<a href="{% url 'task' %}" {% if request.path == '/task/' %} class="active" {% endif %}>
								<i class="fa-regular fa-circle-check"></i> 
								My Task
							</a>
						</li>
					</ul>
				</div>
			</aside>


			<main id="main" class="margin-20">
				
				{% block main %}
				  
				{% endblock main %}

			</main>


		</div>
	</section>



	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/all.min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

	

	<script>
		{% if messages %}
			{% for message in messages %}
			Toastify({
				text: "{{ message }}",
				className: "info",
				close: true,
				style: {
				background: "linear-gradient(to right, #002c3e, #96c93d)",
				}
			}).showToast();
			{% endfor %}
		{% endif %}
	</script>

{% block script %}{% endblock script %}

</body>

</html>