{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login - DevTask</title>
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>

<body>

	<section class="section-padding mt-5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="auth-header">
						<a href="{% url 'home' %}" class="m-auto">
							<h2>Dev<span>Task</span></h2>
						</a>
					</div>

					{% if error_messages %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert" style="max-width: 600px; margin: 20px auto;">
							<strong>{{ error_messages }}</strong>
						</div>
					{% endif %}

					<div class="auth-main">
						<h2>Login</h2>
						<form method="POST">
							{% csrf_token %}
							<div class="">
								<div class="single-input">
									<label for="">Email</label>
									<input type="email" name="email" placeholder="Enter email">
								</div>
								<div class="single-input">
									<label for="password">Password</label>
									<input type="password" name="password" placeholder="Enter password">
								</div>
								<div class="mt-2 d-flex gap-2 single-input">
									<a href="{% url 'signup' %}">Create an account</a>
									<label> As a Owner</label>
								</div>
								<div class="mt-4">
									<button type="submit" class="primary-button">Login</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>



	<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>

	<script>
		{% if messages %}
			{% for message in messages %}
			Toastify({
				text: "{{ message }}",
				className: "info",
				close: true,
				style: {
				background: "linear-gradient(to right, #002c3e, #96c93d)",
				}
			}).showToast();
			{% endfor %}
		{% endif %}
	</script>
</body>

</html>