{% extends "base.html" %}
{% load static %}

{% block title %} Project - DevTask {% endblock title %}


{% block main %}

	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="add-employee">
					<div class="add-employee-header">
						<h2>My Task !</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, magni. Eaque ratione quis commodi eveniet quaerat.</p>
					</div>
					<form>

					</form>
				</div>
			</div>

			<div class="col-12">
				<div class="project-list">
					<div class="single-project-list">
						<h2>
							<a href="">AI Model - Backend</a>
						</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ratione totam tenetur magni quos accusamus, minima expedita officia debitis temporibus.</p>
						<div class="mt-4">
							<h4>Employee Worked:</h4>
							<div class="employee-img-list">
								<img src="{% static './images/mahiuddin.png' %}" alt="">
								<img src="{% static './images/mahiuddin.png' %}" alt="">
								<img src="{% static './images/mahiuddin.png' %}" alt="">
							</div>
						</div>
					</div>
					<div class="single-project-list">
						<h2>
							<a href="">AI Model - Backend</a>
						</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ratione totam tenetur magni quos accusamus, minima expedita officia debitis temporibus.</p>
						<div class="mt-4">
							<h4>Employee Worked:</h4>
							<div class="employee-img-list">
								<img src="{% static './images/mahiuddin.png' %}" alt="">
								<img src="{% static './images/mahiuddin.png' %}" alt="">
								<img src="{% static './images/mahiuddin.png' %}" alt="">
							</div>
						</div>
					</div>
					<div class="single-project-list">
						<h2>
							<a href="">AI Model - Backend</a>
						</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ratione totam tenetur magni quos accusamus, minima expedita officia debitis temporibus.</p>
						<div class="mt-4">
							<h4>Employee Worked:</h4>
							<div class="employee-img-list">
								<img src="{% static './images/mahiuddin.png' %}" alt="">
								<img src="{% static './images/mahiuddin.png' %}" alt="">
								<img src="{% static './images/mahiuddin.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

{% endblock main %}