{% extends "base.html" %}
{% load static %}

{% block title %} Project - DevTask {% endblock title %}


{% block main %}


				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="add-employee">
								<div class="add-employee-header mb-3">
									<h2>Create your Compamy Project !</h2>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, magni. Eaque ratione quis commodi eveniet quaerat.</p>
								</div>
								<form>

								</form>
							</div>
						</div>

						<div class="col-12">
							{% if user.role == 'owner' %}
								<div class="add-employee-btn">
									<button data-bs-toggle="modal" data-bs-target="#exampleModal">+ Add Project</button>
								</div>
							{% endif %}

							<div class="project-list">
								{% if projects %}
									{% for project in projects %}
										<div class="single-project-list">
											<h2>
												<a href="{% url 'single-project' project.slug %}">{{ project.name }}</a>
											</h2>
											<p>{{ project.description }}</p>
											<div class="mt-4">
												<h4>Employee Worked:</h4>
												<div class="employee-img-list">
													{% for employee in project.employee.all %}
														<img src="{{ employee.image.url }}" alt="">
													{% endfor %}
												</div>
											</div>
										</div>
									{% endfor %}
								
								{% else %}
									<div class="single-project-list">
										<p>No Project Found !</p>
									</div>

								{% endif %}
							</div>
							
						</div>
					</div>
				</div>





	  
	  <!-- Modal -->
	  <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
			<div class="modal-header">
			  <h3 class="add-head">Add New Project</h3>
			  <button type="button" class="mo-cl" data-bs-dismiss="modal" aria-label="Close">
				<i class="fa-solid fa-xmark"></i>
			  </button>
			</div>
			<div class="modal-body">
			 <div class="employee-create-details">
				<form method="POST" action="{% url 'create-project' %}">
					{% csrf_token %}
					<div class="">
						<label for="" class="form-label">Project Name</label>
						<input type="text" placeholder="Enter Project Name.." name="title" required>
					</div>
					<div class="">
						<label for="" class="form-label">Project Description</label>
						<input type="text" placeholder="Enter Project Description.." name="description" required>
					</div>
					<div class="">
						<label for="" class="form-label">Employee Add On Project</label>
						<select name="employee" id="" multiple>
							{% for em in employees %}
								<option value="{{ em.id }}">{{ em.first_name }} {{ em.last_name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="">
						<button class="primary-button" type="submit">Create</button>
					</div>
				</form>
			 </div>
		  </div>
		</div>
	  </div>

	{% endblock main %}
